.login-wrapper {
  width: 100%;
  padding-top: 30px;
  .login-content {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    img {
      width: 200px;
    }
    .login-header {
      margin-bottom: 30px;
    }
    .login-form {
      input {
        width: 90%;
        margin-bottom: 20px;
        padding: 0px 10px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(206, 206, 206);
        border-image: initial;
        height: 40px;
      }
      button {
        width: 94%;
        color: rgb(255, 255, 255);
        background-color: rgb(76, 114, 211);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        height: 40px;
      }
    }
    .login-bottom {
      width: 100%;
      text-align: center;
      padding-top: 20px;
      a {
        color: #555;
        text-decoration: none;
      }
      .left {
        border-right: 1px solid #4c72d3;
        padding-right: 10px;
      }
      .right {
        padding-left: 7px;
      }
    }
  }
}
