
.login-header {
  margin-bottom: 30px;
}
.login-content {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  img {
  width: 200px;
}
}
.register-form{
  button{
    width: 94%;
    color: rgb(255, 255, 255);
    background-color: rgb(76, 114, 211);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 40px;
  }
  input {
    width: 90%;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-image: initial;
    height: 40px;
  }
  .massage{
    width: 55%;
    margin-bottom: 20px;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-image: initial;
    height: 40px;
    line-height: 40px;
    float:left;
    margin-left: 8px;
  }
  .mgsbtn{
    width: 30%;
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 0 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-image: initial;
    height: 42px;
    font-size: 14px;
    line-height: 42px;
  }
  .sign_up{
    margin-bottom: 40px;
  }
}

