.full_version {
  .nav_romApp {
    background: #00a0e9;
    height: 330px;
    position: relative;
    width: 100%;
    ul {
      left: 50%;
      margin-left: -380px;
      position: absolute;
      top: 184px;
      width: 800px;
    }
  }
}
