.download_app {
  width: 500px;
  margin: 0 auto;
  p {
    padding-top: 80px;
    color: #FFF;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .title{
    position: absolute;
    top: 44px;
    right: 53px;
    .item{
      color: #ffffff;
      padding: 13px;
    }
    .active{
      color:#cccccc;
    }
  }
  .download_logo {
    height: 170px;
    background: url("../../../../../images/device.png") center no-repeat;
    overflow: hidden;
    width: 300px;
    margin: 20px auto;
  }
}
